*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f0ff;
}

header{
    background:linear-gradient(90deg,#6ec6ff,#9c7bff,#ff8cc6);
    color:white;
    text-align:center;
    padding:20px;
}

.contenedor{
    display:flex;
    min-height:80vh;
}

nav{
    width:220px;
    background:#e8dcff;
    padding:20px;
}

nav a{
    display:block;
    text-decoration:none;
    color:#5b3cc4;
    background:white;
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
}

nav a:hover{
    background:#d7f1ff;
}

main{
    flex:1;
    padding:30px;
}

.tarjeta{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

footer{
    background:#9c7bff;
    color:white;
    text-align:center;
    padding:15px;
}

h2{
    color:#6a4de0;
    margin-bottom:15px;
}

button{
    background:#ff8cc6;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#f06bb0;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

.figuras{
    display:flex;
    gap:20px;
}

.cuadro{
    width:100px;
    height:100px;
    background:#6ec6ff;
}

.circulo{
    width:100px;
    height:100px;
    background:#ff8cc6;
    border-radius:50%;
}

.triangulo{
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:100px solid #9c7bff;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th{
    background:#9c7bff;
    color:white;
    padding:10px;
}

td{
    text-align:center;
    padding:10px;
}

tr:nth-child(even){
    background:#f3eeff;
}
.rectangulo{
    width:140px;
    height:80px;
    background:#6ec6ff;
}

.elipse{
    width:140px;
    height:80px;
    background:#9c7bff;
    border-radius:50%;
}

.anillo{
    width:100px;
    height:100px;
    border:20px solid #ff8cc6;
    border-radius:50%;
}

.bandera{
    width:150px;
    height:100px;
    background:
    linear-gradient(
        to right,
        #6ec6ff 33%,
        white 33%,
        white 66%,
        #ff8cc6 66%
    );
    border:1px solid #ccc;
}
ul{
    list-style-type:square;
    padding-left:20px;
    font-size:18px;
}